@model TipoPlantilla

@{
    ViewData["Title"] = "Editar tipo de Plantilla";
}

<h1>Editar Tipo Plantilla: @Model.TipoDePlantilla</h1>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form asp-controller="TipoPlantilla" asp-action="Update">
    <input type="hidden" asp-for="Id_TipoPlantilla" />
    <div class="mb-3">
        <label asp-for="TipoDePlantilla"
               class="col-form-label">
        </label>
        <input type="text"
               asp-for="TipoDePlantilla"
               class="form-control" />
        <span asp-validation-for="TipoDePlantilla" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="EsActiva"
               class="col-form-label">
        </label>
        <input type="text"
               asp-for="EsActiva"
               class="form-control" />
        <span asp-validation-for="EsActiva" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Codigo"
               class="col-form-label">
        </label>
        <input type="text"
               asp-for="Codigo"
               class="form-control" />
        <span asp-validation-for="Codigo" class="text-danger"></span>
    </div>

    <button type="submit"
            class="btn btn-primary">
        Enviar
    </button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}