@model IEnumerable<TipoPlantillaModel>
@{
    ViewData["Title"] = "Tipos Plantillas";
}

<h1>Tipos de Plantillas</h1>

<a asp-action="Create" class="btn btn-primary mb-3">Nuevo Tipo Plantilla</a>

<table class="table">
    <thead>
        <tr>
            <th>Acciones</th>
            <th>Descripcion</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var tipotipoPlantillaModel in Model)
        {
            <tr>
                <td>
                    <a class="btn btn-primary" asp-action="Update" asp-route-id="@tipotipoPlantillaModel.Id_TipoPlantilla">Editar</a>
                    <a class="btn btn-danger">Eliminar</a>
                </td>
                <td>
                    @tipotipoPlantillaModel.TipoPlantilla
                </td>
            </tr>
        }
    </tbody>

</table>