@model Plantilla

@{
    ViewData["Title"] = "Crear plantilla";
}


<h1>Crear Plantilla</h1>

<form asp-controller="Plantilla" asp-action="Crear">
    <div class="mb-3">
        <label for="Nombre"
               class="col-form-label">

        </label>
        <input type="text"
               id=""
               name="name"
               class="form-control" />
    </div>
</form>